//Widescreen
@include mediaXl {
}

//Desktop e Laptop
@include mediaLg {
}

//Tablet
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .header-hero {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-brand {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-brand {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .image-brand {
      width: 150px;
      height: 150px;
    }
  }
}

//Smartphone
@include mediaXl {
  main#home h1 {
    margin-top: 10vh;
  }
}
